// variables
@import './variables.scss';

// components
@import '../components/Meloyski/meloyski.scss';
@import '../components/Navigation/navigation.scss';

// Atelier
@import '../components/_Atelier/Button/button.scss';

@font-face {
  font-family: 'AvantSans';
  src: url('/fonts/AvantSans-Regular.eot');
  src: url('/fonts/AvantSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AvantSans-Regular.woff2') format('woff2'),
    url('/fonts/AvantSans-Regular.woff') format('woff'),
    url('/fonts/AvantSans-Regular.ttf') format('truetype'),
    url('/fonts/AvantSans-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvantSansGX';
  src: url('/fonts/AvantSansGX.woff2') format('woff2-variations');
  src: url('/fonts/AvantSansGX.woff2') format('woff2');
  font-weight: 100 900;
}

body {
  background-color: #ddd;
  font-family: 'AvantSansGX', 'AvantSans', sans-serif;
  @include font-weight(400);
  color: #222;
  font-size: 16px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.viewport {
  height: 100vh;
  width: 100%;
  animation: background 2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes background {
  0% {
    background: #1f66e9;
  }
  25% {
    background: #4edef8;
  }
  50% {
    background: #f7ac35;
  }
  75% {
    background: #ad172b;
  }
  100% {
    background: #ddd;
  }
}

.hero {
  width: 100%;
  max-width: 1400px;
  text-align: center;
  button {
    font-size: 24px;
    height: 64px;
    border-radius: 6px;
    @include font-weight(900);
    padding: 0 36px;
    &.at-button--contained {
      margin: 24px 0 12px;
    }
  }
}

h1 {
  @include font-weight(900);
  font-size: 78px;
}
