.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: fixed;
  height: 72px;
  margin: 0 auto;
  width: 100%;
  top: 0;

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--item {
    @include font-weight(700);
    font-size: 22px;
    width: 100px;
    letter-spacing: 0.2px;
  }

  &--logo {
    width: 100%;
    max-width: 800px;
    transform: translateY(0);
  }
}
